body {
    color: rgba(17, 17, 17, 0.81);
    background: #BDC6D4;
}

h1 {
    font-size: 19px;
    margin-top: 10px;
}

.headerrow {
    background: #F3F0F0;
    color: #525252;
}

.mainrow {
    background: #FFFFFF;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: calc(100% - 70px);
}

#mainleftcol {

}

#mainmiddlecol {
    /*background:#EDF8FF;*/
    padding-bottom: 21px;
}

#mainrightcol {

}

#mainleftcol, #mainrightcol {
    padding-left: 5px;
    padding-right: 5px;

}

#mainleftcol, #mainrightcol label {
    font-size: 10px;
    font-weight: normal;
}

#mainrightcol button {
    margin-top: 9px;
}

.footerrow {
    background: #F3F0F0;
    color: #525252;
    padding: 5px;
}