.graphvisplanecontainer {
    height: 300px;
    background: white;
    border: 1px solid #BBBBBB;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: calc(100% + 20px);
    margin-left: -10px;

}

.graphvisplaneheader {
    background: #F9F9F9;
    border-bottom: 1px solid #E6E6E6;
    color: #777777;
}

.graphvisplanetitle {
    float: left;
    width: 90%;
    margin: 0;
}

.graphvisplanectrl {
    width: 10%;
    float: right;
}

.graphvisplanectrl .graphvisplanebtn {
    text-align: center;
    font-size: 11px;
    margin-top: 3px;
    width: 16px;
    padding-top: 1px;
    height: 14px;
    float: right;
    cursor: pointer;
}

.graphvisplanecontainer canvas {
    width: 100%;
    height: 100%;
    margin-left: -5px;
}