<div class="graphvisplanecontainer" [ngClass]="{semitransparent: resize}">
    <div class="graphvisplaneheader">
        <div class="graphvisplanetitle" [innerHTML]="plane.getName()"></div>
        <div class="graphvisplaneactions">
            <div class="graphvisplanebtn" *ngIf="plane.isSelectedElementDeletable()" title="Delete Selected Element"
                 (click)="plane.deleteSelectedElement()">
                <i class="fa fa-trash" aria-hidden="true"></i></div>
            <div class="graphvisplanebtn" *ngIf="plane.isSelectedElementAggregateable()" (click)="plane.createCollapsedAggregationOnNode()" title="Collapse Graph for Navigation (Onion-Style)"
                 >
                <i class="fa fa-compass" aria-hidden="true"></i></div>
        </div>
        <div class="graphvisplanectrl">
            <!--<div class="graphvisplanebtn" (click)="plane.close()"><i class="fa fa-window-close" aria-hidden="true"></i></div>-->
            <div class="graphvisplanebtn" (click)="plane.minimize()"><i class="fa fa-window-minimize"
                                                                        aria-hidden="true"></i></div>
            <div class="graphvisplanebtn" (click)="plane.maximize()"><i class="fa fa-window-maximize"
                                                                        aria-hidden="true"></i></div>
        </div>
    </div>
    <div class="graphvisplanecontainercontent" id="{{plane.getContainerPrefix()}}{{getId()}}">
        <div class="labelcontainer" width="100%" height="100%"></div>
    </div>
    <div class="graphvisplaneresizer"></div>
</div>