<div class="container-fluid">
    <div class="row headerrow">
        <div class="col-md-10">
            <h1><i>Graph-Visualization-Framework</i> (GVF)</h1>
        </div>
        <div class="col-md-2">
            <p style="margin-top:10px">Prototype</p>
        </div>
    </div>
    <div class="row mainrow">
        <div class="col-md-2 col-sm-12" id="mainleftcol">
            <!--<sideinfo title="Left Menu" identifier="firstleft"></sideinfo>-->
            <sideinfo *ngFor="let infomodel of (uiService.sideInfoElements)"
                      [infomodel]="infomodel">
            </sideinfo>
        </div>
        <div class="col-md-8  col-sm-12" id="mainmiddlecol">
            <graphworkspace></graphworkspace>
        </div>
        <div class="col-md-2  col-sm-12" id="mainrightcol">
            <button (click)="addDummyPlane()" type="button" class="btn btn-success">Add new Dummy Plane</button>
            <br/>
            <button (click)="addDummyGroupPlane()" type="button" class="btn btn-success">Add Dummy Community Plane</button>
            <br/>
            <input id="show_interconnections_checkbox" type="checkbox" (change)="onShowInterConnectionsClick($event)"/>
            <label for="show_interconnections_checkbox">Show the Inter-Graph-Connection-Canvas</label>
        </div>
    </div>
    <div class="row footerrow" style="">
        <div class="col-md-12">
            Footer
        </div>
    </div>
</div>