.sidebarinfo {
    float: left;
    width: 100%;
    min-height: 125px;
    background: #F1F1F1;
    border: 1px solid gray;
    color: #484848;
    font-size:13px;
    padding: 5px;
}

.sidebarinfo h3 {
    font-size:18px;
    margin-top: 7px;
}