<div class="container-fluid">
    <div class="row headerrow">
        <div class="col-md-10">
            <h1>AFEL-Graph-Vis</h1>
        </div>
        <div class="col-md-2">
            <p>First prototype / demo</p>
        </div>
    </div>
    <div class="row mainrow">
        <div class="col-md-2 col-sm-12" id="mainleftcol">
            Left
        </div>
        <div class="col-md-8  col-sm-12" id="mainmiddlecol">
            <graphworkspace></graphworkspace>
        </div>      
        <div class="col-md-2  col-sm-12"  id="mainrightcol">
            Right
        </div>            
    </div>
    <div class="row footerrow" style="">
        <div class="col-md-12">
            Footer
        </div>
    </div>    
</div>