.headerrow {
    background:#49368E;
    color:white;
}

.mainrow {
    background:#24886B;
    color:white

}

#mainleftcol {

}

#mainmiddlecol {
    background:#EDF8FF;
    padding-bottom: 21px;        
}

#mainrightcol {

}

#mainleftcol,#mainrightcol {
    padding:5px;
}

#mainrightcol button {
    margin-top: 9px;
}


.footerrow {
    background:#49368E;
    color:white;
    padding:5px;
}